<section id="about" class="about">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-">
        <img src="img/bg2-matia.jpg" width="500px" class="img-fluid" alt="Matia gym">
      </div>

      <div class="col-8 text-center align-self-center">

        <a href="#portfolio" class="text-reset">
          <div class="shadow p-4 mb-4 bg-white rounded">
            <span class="group-boxes">
              <i class="fa-solid fa-users"></i>&nbsp;About me
            </span>
          </div>
        </a>

        <a href="#callout" class="text-reset">
          <div class="shadow p-4 mb-4 bg-white rounded">
            <span class="group-boxes">
              <i class="fa-solid fa-person-running"></i>&nbsp;Your program
            </span>
          </div>
        </a>

        <a href="#about" class="text-reset">
          <div class="shadow p-4 mb-4 bg-white rounded">
            <span class="group-boxes">
              <i class="fa-solid fa-envelope-open-text"></i>&nbsp;Get in touch
            </span>
          </div>
        </a>

        <a href="#about" class="text-reset">
          <div class="col- shadow p-4 mb-4 bg-white rounded">
            <span class="group-boxes">
              <i class="fa-solid fa-dumbbell"></i>&nbsp;Members Area
            </span>
          </div>
        </a>

      </div>
    </div>
  </div>
</section>
