<header id="top" class="header">
  <div class="text-vertical-center">
    <h1 style="font-family: 'Poppins', sans-serif;">WELCOME TO</h1>
    <br>
    <img src="../img/LOGO-02-White.png" class="img-fluid" alt="Train with Matia" width="320">
    <br>
    <br>
    <span class="intro-txt">Investing in yourself is the best investment you can make. It will not only improve your life, it will improve those lives around you.</span>
    <br>
    <br>
    <a href="#about" class="btn btn-light btn-lg rounded-pill" role="button">GET STARTED TODAY</a>
  </div>
  
  <!-- SLIDE -->
  <!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
          <img src="../img/bg3-matia.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../img/bg2-matia.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../img/bg-matia.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div> -->

</header>
