<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg col-lg-offset-1 text-center">
        <h1 style="font-size: 72px; font-weight: 700;">ABOUT ME</h1>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="../img/p1.jpg" width="500" height="660">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="../img/p2.jpg" width="500" height="660">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="../img/p3.jpg" width="500" height="660">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="#">
                <img class="img-portfolio img-responsive" src="../img/p4.jpg" width="500" height="660">
              </a>
            </div>
          </div>
        </div>

        <div class="col- text-center align-self-center">
    
          <h1>When did I start getting into health & fitness?</h1>
          <p class="about-me-paragraph">
            It all started at the young age of 5. I began playing competitive hockey and eventually got drafted to the NHL by the Pittsburgh Penguins at age 18. 
            With my previous career involving countless hours in the gym, I turned my attention to the aesthetic side of training. I focused on growing my clothing company which taught me the importance of living an overall balanced lifestyle and brought me to where I am today. 
            As a fully qualified trainer with over 15 years of gym experience, I now focus on helping clients achieve their fitness goals through a new mindset of positivity and determination. Whether it’s to lose fat, build muscle, or improve their general health, we can start a fitness journey together today. 
          </p>  
            
          
          <h1>What makes me unique to work with?</h1>
          <p class="about-me-paragraph">
            My approach to training isn’t just working out. As a former professional athlete who suffered a sudden career-ending injury, I know what it’s like to feel completely lost and at rock bottom. After my injury, I had no direction in life. Battling depression for a long time, I knew that the only person who was going to change that was myself and that I could achieve anything I put my mind to. 
            With this mentality and consistent hard work, I changed my life. For this reason, I feel like I can connect and relate to anyone to help them achieve their goals. Whether it’s to have more confidence to ask someone you’re interested in out on a date or simply feel good about yourself when looking into the mirror. Training helps with so much more than just your body. 
            If I was able to do it, you could too.
          </p>
        </div>

        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
      
     

    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
